@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F3EAE6;
    --foreground: #3D2B28;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities{
  .bg-lime-900{
    background: #A9B782;
  }
  .bg-green-950{
    background: #02542D;
  }
  .bg-white{
    background: #FFFDF1;
  }
  .bg-green-800{
    background: #497248;
  }
  .bg-green-700{
    background: #3D2B28;
  }
  .bg-green-600{
    background: #ABBC86;
  }
  .text-orange-900{
    color: #E7B343;
  }
  .bg-zinc-100{
    background: #3D2B28;
  }
  .bg-zinc-200{
    background: #83481D;
  }
  .bg-zinc-300{
    background: #F8D8AF;
  }
  .bg-zinc-400{
    background: #A4CED5;
  }
  .bg-zinc-500{
    background: #257644;
  }
  .bg-zinc-600{
    background: #F3E123;
  }
  .bg-zinc-700{
    background: #F3EAE6;
  }
  .bg-zinc-800{
    background: #FC6B33;
  }
  .text-zinc-100{
    background: #3D2B28;
  }
}